@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared Styles */
/* fonts */
.dark-1 {
  color: rgba(19, 19, 19, 1);
}
.dark-2 {
  color: rgb(66, 66, 66);
}
.dark-3 {
  color: rgb(114, 114, 114);
}
/* Backgrounds */
.first-bg {
  background-color: rgba(255, 144, 14, 0.1);
}
.display-flex {
  display: flex;
}
/* Header Styles */

/* Navbar Related Styles */
.nav-bar {
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  text-decoration: none;
  list-style: none;
  gap: 50px;
  font-size: 18px;
  font-weight: 500;
}
.header,
.nav-bar {
  max-width: 1920px;
  margin: 0 auto;
}
.brand-title {
  font-size: 3rem;
  font-weight: 700;
}
/* BANNER */
.banner {
  margin-bottom: 50px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}
.banner-description {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.header-btn {
  padding: 20px 24px;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  border-radius: 8px;

  align-items: center;
  border: none;
  margin-bottom: 50px;

  background: rgb(255, 144, 14);
}
.banner-container {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}
.banner-image {
  width: 100%;
}
@media screen and (max-width: 576px) {
  .nav-bar,
  .nav-links {
    flex-direction: column;
  }
}
